/* html {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8),
    rgba(185, 42, 7, 0.8)
  );
} */

html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0;
}

main {
  flex: 1;
  margin: 1rem;
}

@media (max-width: 374px) {
  html {
    display: none;
  }
}
