.calendar-header {
  text-align: center;
  margin: 1rem 0;
}

.calendar-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style-type: none;
  justify-content: center;
}

.calendar-card {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.calendar-card:hover {
  cursor: pointer;
  filter: brightness(0.8);
  transform: translateY(-5px);
}

.calendar-grandPrix {
  display: flex;
  margin-block: 2rem;
  padding: 1rem;
  width: 15rem;
  text-align: center;
  align-items: center;
  color: white;
  background-color: hsla(240, 85%, 10%, 0.7);
  font-size: 1.25rem;
}
