main {
  display: flex;
  justify-content: center;
}

.race-page {
  position: relative;
  display: inline-flex;
}

.race-images {
  width: 70vw;
  height: auto;
  padding-top: 1rem;
}

.race-details {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3rem;
  left: 7rem;
  max-width: 30vw;
  background-color: hsla(240, 85%, 10%, 0.5);
}

.race-name {
  margin-inline: 1rem;
  font-size: 1.75rem;
  color: white;
  margin-top: 1rem;
}

.race-country {
  margin-inline: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.race-country-name {
  color: white;
  font-size: 1.25rem;
  margin-top: 0;
}

.race-country-code {
  color: white;
  font-style: italic;
  font-size: 1rem;
  margin-top: 0;
}

.race-location {
  color: white;
  font-size: 1rem;
  margin-inline: 1rem;
}

.race-date {
  color: white;
  font-size: 1rem;
  margin-inline: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 1150px) {
  .race-details {
    max-width: 80%;
    left: 0;
    top: 1rem;
  }
}
