.forum-header {
  text-align: center;
  margin: 1rem 0;
}

.forum-topics {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.forum-topics a {
  color: black;
}

.forum-topics a:hover,
.forum-topics a.active {
  color: rgba(255, 140, 0, 0.916);
}

.posts-list {
  list-style-type: none;
}

body.dark h5,
body.dark p {
  color: white;
}

.forum-posts,
.add-forum-post,
.add-forum-topic {
  margin-top: 3rem;
}

.back-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body.light .list-group-item {
  background-color: #ede2e2b0;
  margin-bottom: 0.5rem;
}

.list-group-item {
  padding: 1rem 1rem;
}

.new-topic-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-group {
  gap: 0.5rem;
}
