#navbar {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(185, 42, 7, 0.8));/
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
  width: 50%;
  margin-right: 10rem;
}

.profile-nav {
  display: flex;
  gap: 5rem;
}