.teams-header {
  text-align: center;
  margin: 1rem 0;
}

.teams-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  width: 16rem;
  height: auto;
  color: white;
  /* gap: 0.1rem; */
}

.team-name-header {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-size: 1.6rem;
}

.team-card-logo-image {
  width: 50px;
  height: auto;
}

.team-card-vehicle-image {
  width: 200px;
  height: auto;
}

.drivers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 0.5rem;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.team-driver-name {
  list-style-type: none;
  margin: 0;
  font-size: 1.1rem;
}

body.dark {
  background-color: #222;
  color: #fff;
  border: 1px solid #333;
}
